*{
  margin: 0;
  padding: 0;
}

html,body{
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  min-height: -webkit-fill-available;
  background: #ab41d1;
  background: linear-gradient(1deg, rgba(171, 65, 209, 1) 10%, rgba(181, 49, 214, 1) 19%, rgba(61, 174, 196, 1) 100%);
  row-gap: 45px;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.icon{ 
  width: auto;
  height: auto;
}
/*pengendali tulisan website*/
.logo{
  font-family: "times new roman";
  text-align: center;
  height: 90px;
  color: white;
  font-size: clamp(24px,8vw,72px);
}
/*ini adalah pengendali tombol div*/
.button {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
/*ini adalah pengendali button*/
.in{
  font-family: "times new roman", sans-serif;
  width: 180px;
  height: 50px;
  border-radius: 20px;
  font-size:20px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 1s cubic-bezier(0.5, 1, 1, 0.5);
  box-shadow: 0px 0px 10px 6px #B531D6;
  z-index: 0;
}

.in::before {
  position:absolute;
  inset:0;
  z-index:-1;
  content:'';
  opacity:0;
  border-radius: 20px;
  background: linear-gradient(rgba(181, 49, 214, 1) 100%, rgba(171, 65, 209, 1) 30%);
  transition: all 1s cubic-bezier(0.5, 1, 1, 0.5);
  
}

.in:hover::before{
  opacity:1;
}

/*untuk hp*/
@media(orientation:portrait){
  .logo{
    font-size:clamp(24px,7vw,48px);
  }}
/*untuk desktop*/
  @media(orientation:landscape){
    .logo{
      font-size: clamp(24px,8vw,72px);
    }
  }
  

  
